<html>
  <body>
    <!-- app/views/comment/new.html.erb -->

    <%= form_tag url_for(action: 'create'), method: "post" do %>  

      <%= label_tag 'Content' %>
      <%= text_area_tag 'comment[content]', @comment.content %>
      <br /> <br />

      <%= submit_tag "Commenter" %>

    <% end %>

    <!-- affiche les alertes -->
    <div class="alert alert-secondary" role="alert">
      <p>Commentaire créé</p>
    </div>
    <div class="alert alert-danger" role="alert">
      <p> Une erreure s'est produite</p>
      
    </div>
  </body>
</html>